<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILoginApi" />
                <binding name="BasicHttpBinding_IphongApi" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50114/LoginApi.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILoginApi" contract="LoginService.ILoginApi"
                name="BasicHttpBinding_ILoginApi" />
            <endpoint address="http://localhost:50114/phongApi.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IphongApi" contract="PhongService.IphongApi"
                name="BasicHttpBinding_IphongApi" />
        </client>
    </system.serviceModel>
</configuration>